<div class="d-flex justify-content-center mt-5">
    <div class="card mb-0 w-50">
        <div class="card-body">
            <div class="auth-full-page-content rounded d-flex p-3 my-2">
                <div class="w-100">
                    <div class="d-flex flex-column h-100">
                        <div class="auth-content my-auto">
                            <div class="text-center">
                                <h5 class="mb-0">Welcome Back !</h5>
                                <p class="text-muted mt-2">Sign in to continue.</p>
                            </div>
                            <form class="mt-4 pt-2" asp-controller="Auth" asp-action="AuthenticateUser">
                                <div class="form-floating form-floating-custom mb-4">
                                    <input required type="text" class="form-control" id="input-username" name="userName" placeholder="Enter User Name" autocomplete="off">
                                    <label for="input-username">Username</label>
                                </div>

                                <div class="form-floating form-floating-custom mb-4 auth-pass-inputgroup">
                                    <input required type="password" class="form-control pe-5" id="password-input" name="password" placeholder="Enter Password" autocomplete="off">

                                    <label for="password-input">Password</label>
                                </div>

                                <div class="mb-3">
                                    <button class="btn btn-primary w-100 waves-effect waves-light" type="submit">Log In</button>
                                </div>
                            </form>
                            <div class="mt-4 pt-3 text-center">
                                <p class="text-muted mb-0">
                                    Don't have an account ? <a href="@Url.Action("Register", "Auth")"
                                                               class="text-primary fw-semibold"> Signup now </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>